:root {
  --main-text-color: #212121;
  --secondary-color: #757575;
  --color-for-buttons: #2196f3;
}

body {
  color: var(--main-text-color);
  font-family: Roboto, sans-serif, Verdana, Geneva, Tahoma, sans-serif;
}

p,
h2,
h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.header-background {
  color: #ffffff;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: tomato;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

/* Logo */

.logo {
  font-family: Raleway sans-serif;
  color: var(--main-text-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: inline-block;
}
.logo-part {
  font-family: Raleway sans-serif;
  color: #2196f3;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: inline-block;
}
.logo-link {
  text-decoration: none;
}

/* hero */

.hero-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-section {
  background-color: #2f303a;
  margin-bottom: 0;
  outline: solid 2px tomato;
  text-align: center;
}
.hero-title {
  margin-top: 0;
}

.hero-container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: green;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 94px;
}
.about-container {
  background-color: aquamarine;
  margin-bottom: 94px;
}

.button-text:hover,
.button-text:focus {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* about section */

.style-none {
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
}

.about-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  list-style: none;
  margin-top: 0px;
  margin-bottom: 10px;
}
.about-description {
  color: var(--secondary-color);
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  list-style: none;
  margin-bottom: 0px;
}

/* our section */

.our-projects {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  margin-top: 0px;
}

.our-work-container {
  background-color: rebeccapurple;
  margin-bottom: 94px;
}

/* .our-work-pic {
  margin-bottom: 100px;
} */

/* our team */
.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.team-names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 10px;
}

.job-name {
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.our-team-container {
  text-align: center;
  background-color: darkkhaki;
  margin-bottom: 0px;
}
.team-pic {
  padding-bottom: 30px;
}

/* site-nav */
.site-nav {
  list-style: none;
}

.site-nav .link {
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 0.9;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--color-for-buttons);
}
.site-nav .link.current {
  color: var(--color-for-buttons);
}

/* contacts nav */
.contacts-nav {
  list-style: none;
  margin-bottom: 0;
}

.link-contacts {
  color: var(--secondary-color);
  text-decoration: none;
}
.link-contacts:focus,
.link-contacts:hover {
  color: var(--color-for-buttons);
}
/* button */
.button {
  background-color: var(--color-for-buttons);
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.button:hover,
.button:focus {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.cursor {
  cursor: pointer;
}

/* Portfolio! */
.portfolio-projects {
  color: var(--main-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;
}

.button-portfolio {
  background: #f5f4fa;
  border-radius: 4px;
}

.button-portfolio:focus,
.button-portfolio:hover {
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: white;
}

.projects-description {
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
.adress {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-top: 20px;
}

.footer {
  background-color: #2f303a;
}
.adress a {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
}

.footer-container {
  outline: solid 1px tomato;
  margin-top: 0px;
}
